{% extends 'base.html' %}
<!-- 填充父类留出的部分 -->
{% block content %}
<!-- <p>{{ food_counts }} entries in total</p> -->

<!-- 图片列表 -->
<div class="food-list" style="margin: 0 10%">
  <div class="container">
    <!-- 卡片 -->
    <div class="row">
      {% for food in food_list %}
      <div class="col-sm-4">
        <div class="card" style="width: 18rem">
          <img class="card-img-top" src="{{ food.MainPicture }}" />
          <div class="card-body">
            <h5 class="card-title">{{ food.FoodName }}</h5>
            <p class="card-text">{{ food.Ingredients }}</p>
            <a href="{{ food.Url }}" class="btn btn-primary">Go</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <!-- 分页 -->
    <nav aria-label="...">
      <!-- previous_pages:列表,之前的页 -->
      <!-- current_page:数字,当前页 -->
      <!-- next_pages:列表,之后的页 -->
      <ul class="pagination">
        {% for page in previous_pages %}
        <li class="page-item">
          <a class="page-link" href="/index/{{ page.index }}">
            {{ page.index }}
          </a>
        </li>
        {% endfor %}
        <li class="page-item active">
          <span class="page-link">
            {{ current_page.index }}
            <span class="sr-only">(current)</span>
          </span>
        </li>
        {% for page in next_pages %}
        <li class="page-item">
          <a class="page-link" href="/index/{{ page.index }}">
            {{ page.index }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</div>

{% endblock %}
