{% extends 'base.html' %}
<!-- 填充父类留出的部分 -->
{% block content %}

<div>
  <div style="text-align: center">
    <h3>Food Recongnition</h3>
  </div>

  <!-- 上传图片 -->
  <div
    class="settings-box border"
    style="
      margin: 0 30%;
      align-self: center;
      text-align: left;
      padding: 15px 15px 15px 15px;
    "
  >
    <form method="post">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <input
            class="input-group-text"
            type="submit"
            name="submit"
            value="Upload"
          />
        </div>
        <div class="custom-file">
          <input
            name="file"
            type="file"
            class="custom-file-input"
            id="InputFile"
          />
          <label class="custom-file-label" for="InputFile"></label>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}
