{% extends 'base.html' %}
<!-- 填充父类留出的部分 -->
{% block content %}

<div>
  <div style="text-align: center">
    <h3>Food Recongnition</h3>
  </div>

  <!-- 上传图片 -->
  <div
    class="settings-box border"
    style="
      margin: 0 30%;
      align-self: center;
      text-align: left;
      padding: 15px 15px 15px 15px;
      background-color: #f0f0f0;
    "
  >
    <form method="post" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <!-- {{ form.photo }} {{ form.submit }} -->
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <input
            class="input-group-text"
            id="submit"
            type="submit"
            name="submit"
            value="Upload"
          />
        </div>
        <div class="custom-file">
          <input
            name="photo"
            type="file"
            class="custom-file-input"
            id="photo"
          />
          <label class="custom-file-label" for="photo">Choose file</label>
        </div>
      </div>
    </form>
    <div class="text-center">
      {% if file_url %}
      <img src="{{ file_url }}" style="max-width: 50vh" />
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
